@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Inter', sans-serif;
    background-color: #F8FAFC;
    /* Light background for the app global state */
    color: #202020;
    /* Carbon Black text for readability on light */
}